*{
    margin: 0%;
    padding: 0%;
}

h1{
    justify-content: center;
    text-align: center;
    background-color:aqua ;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_container{
    color: white;
}

.temp{
    font-size: 4.5rem;
}

.time_location{
    font-size: 2rem;
}

.condition{
    margin: 0.5rem;
    margin-left: 0.2rem;
}

.nav{
    height: 100px;
    margin: 5rem;
}

.search_area{
    padding: 1rem;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    font-size: 1rem;
    border-bottom: 2px solid grey;
    border-radius: 40px;
}

nav from button{
    padding: 0.5rem;
    background-color: wheat;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
